@import "reset.css";
@dark-gray: #2d2e34;
@light-gray: #bec4cc;
@blue: #00B294;
@off-white: #f2f3f6;
@blue-med: #002050;
@white: #fff;
@black: #000;
@purple-rain: #672079;
@light-purple: #d1bcd7;
@orange: #ff8c00;
@dark-orange: #dc3c00;
@box-color-bottom: #98a5b8;
@box-color-side: #cbd2db;
@slide-left: l-slide 0.5s both ease-out;
@slide-right: r-slide 0.5s both ease-out;
@slide-bottom: b-slide 0.5s both ease-out;
@fade-in: fade-in 0.7s both ease-out;
@fade-out: fade-out 0.7s both ease-out;
@fade-in-r-slide: fade-in-r-slide 1s both ease-out;
@fade-in-l-slide: fade-in-l-slide 0.5s both ease-out;
html {}

body {
    white-space: nowrap;
    background-color: @dark-gray;
    font-family: "Avenir Next";
    -webkit-font-smoothing: antialiased;
    padding-top: 70px;
}

::selection {
    color: @white;
    background-color: @orange;
}

header {
    background: @dark-gray;
    color: @white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    overflow: hidden;
    height: 70px;
    -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 0 0 #000000, 0 0 0 #000000, 0 0 0 #000000;
    -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 0 0 #000000, 0 0 0 #000000, 0 0 0 #000000;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 0 0 #000000, 0 0 0 #000000, 0 0 0 #000000;
    opacity: 0.95;
    nav {
        white-space: nowrap;
        font-size: 0;
        button {
            display: inline-block;
            vertical-align: top;
            border: none;
            cursor: pointer;
            background: transparent;
            -moz-transition: background .3s ease-out, color .5s ease-out;
            -moz-transition: background .3s ease-out, color .5s ease-out;
            -webkit-transition: background .3s ease-out, color .5s ease-out;
            transition: background .3s ease-out, color .5s ease-out;
            height: 70px;
            width: 33.33%;
            padding: 0;
            margin: 0;
            color: @light-purple;
            font-size: 18px;
            font-family: "Avenir Next";
            -webkit-font-smoothing: antialiased;
            span {}
            &:hover {
                background: @purple-rain;
                color: @white;
            }
        }
    }
}

article {
    background: @dark-gray;
    color: @light-gray;
    text-align: center;
    padding: 50px 0 25px;
    overflow: hidden;
    position: relative;
    white-space: normal;
    z-index: 100;
    &.section01 {
        height: 3000px;
        -moz-animation: @fade-in-r-slide;
        -o-animation: @fade-in-r-slide;
        -webkit-animation: @fade-in-r-slide;
        animation: @fade-in-r-slide;
        -moz-animation-delay: 1s;
        -o-animation-delay: 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
}

h1,
h2,
h3,
h4 {
    color: @blue-med;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 0;
    font-weight: 500;
}

h2 {
    font-size: 38px;
    line-height: 38px;
}

h3 {
    font-size: 29px;
    line-height: 40px;
}

h4 {
    font-size: 21px;
    line-height: 24px;
}

p {
    font-size: 18px;
    line-height: 30px;
    color: @white;
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
}

p,
h1,
h2,
h3,
h4 {
    span {
        font-weight: bold;
        color: @blue-med;
    }
}

a {
    color: @white;
    text-decoration: underline;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes r-slide {
    from {
        -moz-transform: translateX(1300px);
        -ms-transform: translateX(1300px);
        -o-transform: translateX(1300px);
        -webkit-transform: translateX(1300px);
        transform: translateX(1300px);
        opacity: 0;
    }
    to {
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes r-slide-out {
    from {
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    to {
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}

@-moz-keyframes r-slide {
    from {
        -moz-transform: translateX(1300px);
        opacity: 0;
    }
    to {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes r-slide {
    from {
        -webkit-transform: translateX(1300px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes l-slide {
    from {
        -moz-transform: translateX(-1500px);
        -ms-transform: translateX(-1500px);
        -o-transform: translateX(-1500px);
        -webkit-transform: translateX(-1500px);
        transform: translateX(-1500px);
        opacity: 0;
    }
    to {
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes l-slide-in {
    from {
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes l-slide {
    from {
        -moz-transform: translateX(-1500px);
        opacity: 0;
    }
    to {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes l-slide {
    from {
        -webkit-transform: translateX(-1500px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes b-slide {
    from {
        -moz-transform: translateY(1000px);
        -ms-transform: translateY(1000px);
        -o-transform: translateY(1000px);
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    to {
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes b-slide {
    from {
        -moz-transform: translateY(1000px);
        opacity: 0;
    }
    to {
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes b-slide {
    from {
        -webkit-transform: translateY(1000px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fade-in-l-slide {
    from {
        -moz-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
        -o-transform: translateX(-500px);
        -webkit-transform: translateX(-500px);
        transform: translateX(-500px);
        opacity: 0;
    }
    to {
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes fade-in-l-slide {
    from {
        -moz-transform: translateX(-500px);
        opacity: 0;
    }
    to {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-l-slide {
    from {
        -webkit-transform: translateX(-500px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade-in-r-slide {
    0% {
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
    50% {
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in-r-slide {
    0% {
        -moz-transform: translateX(1000px);
        opacity: 0;
    }
    50% {
        -moz-transform: translateX(0px);
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-r-slide {
    0% {
        -webkit-transform: translateX(1000px);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateX(0px);
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}